workspace.xml
compiler.xml
*.iml
*.aux
*.PWB
*.PWD
*.pwb
*.pwd
.idea/
manifest/
PWModel.xml
proxy.properties
ied.properties
config.properties
security.properties
*.icd
*.class
target/
classes/
log/
scl/
*.jar
